[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"7e3da87" = {path = "./python-mwxml", editable = true}
mwparserfromhell = "*"

[requires]
python_version = "3.5"
